#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html{
  background-color: black;
  color:white;
  font-family: 'Joystix Monospace', monospace;
  font-size: 16px;
}


@font-face {
    font-family: 'Joystix Monospace';
    src: url('./assets/fonts/JoystixMonospace-Regular.woff') format('woff2'),
        url('./assets/fonts/JoystixMonospace-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
  scroll-behavior: smooth;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.animate-shine {
  animation: shine 5s linear infinite;
}





/* carousel  */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* loader  */
.loader {
  width: 48px;
  height: 48px;
  border: 4px solid;
  border-color: transparent #FFF #FFF transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s ease-in-out infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 12px solid;
  border-color: transparent #3f0b5f #c800ff transparent;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 



.input-field-font {
  font-family: 'Inter', sans-serif;
}


.center-placeholder::placeholder {
  text-align: center;
}

/* @font-face {
  font-family: 'Yoster';
  src: url('./assets/fonts/yoster.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Born2bSporty';
  src: url('./assets/fonts/Born2bSportyFS.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@media (max-width: 900px) and (min-width: 600px) {
  .smaller {
    font-size: 12px;
  }
}



.glow:hover {
  color: white;
}