#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html{
  background-color: black;
  color:white;
  font-family: 'Joystix Monospace';
}


@font-face {
    font-family: 'Joystix Monospace';
    src: url('./assets/fonts/JoystixMonospace-Regular.woff') format('woff2'),
        url('./assets/fonts/JoystixMonospace-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

